* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
form {
    width: 520px;
}

main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 800px;
    height: auto;
    padding: 60px 0;
    margin: 300px auto;
    background-color: #7A8BB0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 25px;
    font-size: 20px;
    border: 10px solid #b09f7a;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    width: 80px
}

section {
    display: flex;
    align-items: center;
    gap: 10px;
}


.font h2  {
    width: auto;
    font-size: 24px;
}

input,
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline-color: #b09f7a;
}

button {
    background-color: #b09f7a;
    width: 180px;
    margin: 20px auto;
    font-size: 20px;
}
input {
   
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #b09f7a;
    
}

p {
    font-size: 24px;
    background-color: #b09f7a;
    padding: 15px 18px;
    border-radius: 15px;
    visibility: hidden;
}